@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding: 100px;
  cursor: none;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgrey;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.course {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    width: 100px;
    height: 100px;
    background-color: white;
  }
}
